.chatPage{
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 150px);
  height: 100%;
  padding-top: 40px;
  &__info{
    flex-grow: 1;
    max-width: 300px;

  }
  &__messageBox{
    flex-grow: 2;
    margin: 0 15px;
    max-width: 600px;
  }
  &__usersBox{
    flex-grow: 1;
    max-width: 300px;
    height: calc(100vh - 250px);
    overflow: hidden auto;
    box-sizing: border-box;
  }
}
